{% extends 'base.html' %}
{% load static %}

{% block content%}
<img src="{% static 'homepagebanner.jpg'%}" width="100%">

    <div class="container">
            
            
            <header class="jumbotron my-4">
                <h1>Technology Innovation — Trends and Opportunities in 2019</h1>
                <p class="lead">
                        Technology is moving at an incredible pace. We live in an amazing era where things like autonomous cars, personalized medicine and quantum computing are becoming real as we speak. Artificial Intelligence, crypto-currencies, advanced automation, deep learning and concepts like Universal Basic Income are about to reshape our world — what an exciting era to be alive!

                        The years to come will bring impressive technological breakthroughs with massive impact on our lives, markets and societies. In our connected world, with the unprecedented level of information, knowledge and ideas exchange, innovation is happening continuously, at scale and in several forms. It is driven by corporations, secret labs, universities, startups, research scientists or simply by thousands of creative individuals across the globe.
                        
                        It is not feasible to summarize the trends of technology and opportunities for innovation in a single
                        
                        e most promising developments in the wider information technology spectrum. Here is my list:
                </p>
            <h1 class="display-3">1. Artificial Intelligence</h1>
            <p class="lead">
                    Everybody is talking about Artificial Intelligence these days. And yes, in many cases, 
                    the topic is covered with exaggerations and hype. Fortunately, the overall A.I. progress
                     and the pace of the underlying technological innovation easily justifies this hype. 
                     Consider the progress achieved in fields like Deep Learning and areas such as Computer 
                     Vision and Natural Language Processing.
                     Computer vision is making huge steps, with massive applications in autonomous cars, navigation, robotics, pattern recognition, medical diagnosis and more. Language Understanding has made tremendous progress as well — recently reached the levels of human understanding — Microsoft reports a word error rate of 5.9% which is equal to human performance on the same input.

Digital assistants become more and more intelligent, contextual and proactive. At some point in the near future, your digital assistant will be able not only to handle your tasks and information requests but also to do respond with humor — and this will be a major milestone for A.I.

Your digital assistant will know (and keep learning) the style of your humor and how it depends on the time of day, the day of the week, the social arrangement, the agenda of the day and your implicitly quantified mood. Your digital assistant will be able to make decisions such as when to respond with humor, when to proactively say something funny or trigger a humorous dialogue — while always capturing its success via your responses (or lack of). It’s coming and it will be fun.

Considering the general availability of advanced cognitive technology (cloud-based commercial AI offerings via easy-to-consume APIs) and the low-cost integration scenarios, the AI-powered opportunities for innovation increase exponentially — APIs and the cloud make it easy even for junior software developers to build cognitive apps, powered by advanced A.I. capabilities.

As a developer, you just need to browse the commercial offerings by the tech giants such as Microsoft, Amazon, Google, Facebook and the like and choose from a wide range of cognitive services to encapsulate into your application. Or, you can explore the open source options on reusing and adapting advanced analytical and cognitive models. In any case, developers can now experiment with cognitive services in no time and at low cost.

But, one could argue that, given that A.I. is driven by huge investments of those few technology corporations, the opportunity for innovation is rather limited. When it comes to A.I. I believe that the real opportunity for innovation is the actual approach in solving particular problems and how the cognitive services are utilized and combined; how the developer provides the right data and signals to empower better, smarter user experiences.

In the next couple of years, I expect to see significant innovations on how A.I. is used to solve major problems, for instance the Fake news problem, security and safety online, more accurate medical diagnosis, intelligent personalized experiences and improved knowledge discovery.

Digital assistants will be able to communicate naturally. They will be able to seamlessly capture the context and respond proactively with smart recommendations, in the right form and optimal timing. Smarter homes will be able to adapt to ‘situations’ and the mood of particular individuals or the family as a whole.
                </p>
            </header>
    </div>    

{% endblock %}
