{% extends 'base.html' %}
{% if product.id %}
    custUrl = 'create'
{% else %}
    custURL = 'create'
{% endif %}

{% block content %}
<header class="jumbotron my-4">
<div class="container" style="width:600px">
        <div class="login-form">
        <div class="main-div">
            <div class="panel">
           <h2>Product form </h2>
           {{error}}
           </div>
           
           <form id="Login" method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <p>Product Name</p>
                    <input type="text" name="name" class="form-control" id="name" value="{{product.Title}}"  placeholder="Please enter product name">
                </div>
                <div class="form-group">
                   <p>Product Body</p> 
                    <input type="text" name="body" class="form-control" id="body" value="{{product.body}}" placeholder="Please body">
                </div>
                <div class="form-group">
                    <p>Product Url</p>
                    <input type="tex" name="url" class="form-control" id="url" value="{{product.url}}" placeholder="Please url">
                </div>
                <div class="form-group">
                        <p>Product Summary</p>
                        <input type="tex" name="summary" class="form-control" id="summary" value="{{product.summary}}" placeholder="Please summary">
                </div>
                <div class="form-group">
                    <p>Product Icon</p>
                    <input type="file" name="icon" class="form-control" id="icon" value="{{product.icon}}" placeholder="Please icon">
                </div>
                <div class="form-group">
                    <p>Product Image</p>
                    <input type="file" name="image" class="form-control" id="image" value="{{product.image}}" placeholder="Please image">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>       
            </form>
            </div>
        </div></div>
        </header>
{% endblock %}