{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-md-12">
    <p>&nbsp;</p>
    
    <h1 class="my-4"><img class="card-img-top" src="{{ product.icon.url }}" alt="Card image cap" style="width: 35px; height: 50px;" > {{product.Title}} </h1>
    <!-- Blog Post -->
    <div class="card mb-4">
      <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Product summary</h2>
        <p class="card-text">{{product.summary}}</p>
      </div>
      <div class="card-footer text-muted">
        Posted on {{product.pub_date}} by
        <a href="#">{{product.user.username}}</a>
      </div>
    </div>
  </div>
{% endblock %} 